<div class="activity-contact">
      <div class="activity">
          <div>
              <h3 class="" style="font-size: 16px;">
                  <!-- react-text: 521 -->HOẠT ĐỘNG
                  <!-- /react-text -->
                  <!-- react-text: 522 -->
                  <!-- /react-text --><i id="btn-show-filter" class="fa fa-filter can-click"></i></h3>
              <div class="filter-activity hidden" id="div-filter">
                  <div class="filter-date-advance">
                      <div class="popup-filter">
                          <div class="arrow"></div>
                          <div class="item-body">
                              <div class="radio"><label><input type="radio" name="filter_date" id="filter_date_all" value="on"><!-- react-text: 532 -->Lọc tất cả thời gian<!-- /react-text --></label></div>
                              <div class="radio" style="margin-top: 10px;"><label><input type="radio" name="filter_date" id="filter_date_custom" value="on"><!-- react-text: 536 -->Từ<!-- /react-text --><!-- react-text: 537 -->  &nbsp;<!-- /react-text --><div class="filter-time"><input type="text" class="form-control custom-datetime" id="datetimepicker5"></div><!-- react-text: 540 -->đến<!-- /react-text --><!-- react-text: 541 -->  &nbsp;<!-- /react-text --><div class="filter-time"><input type="text" class="form-control custom-datetime" id="datetimepicker6"></div></label></div>
                          </div>
                      </div>
                  </div><a id="button-filter-advance" href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                  <div class="item-filter"><select class="selectpicker" id="filter-type" data-width="fit" style="display: none;"><option value="">Hoạt động</option><option value="note">Ghi chú</option><option value="reminder">Nhắc nhở</option><option value="calllog">Lịch sử cuộc gọi</option><option value="note1">Tin nhắn</option><option value="isPinned">Ghim</option></select>
                      <div class="btn-group bootstrap-select fit-width"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="filter-type" title="Hoạt động"><span class="filter-option pull-left">Hoạt động</span>&nbsp;<span class="caret"></span></button>
                          <div class="dropdown-menu open">
                              <ul class="dropdown-menu inner selectpicker" role="menu">
                                  <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Hoạt động</span>"><span class="text">Hoạt động</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Ghi chu</span>"><span class="text">Ghi chú</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Nhắc nhở</span>"><span class="text">Nhắc nhở</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="3"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Lịch sử cuộc gọi</span>"><span class="text">Lịch sử cuộc gọi</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="4"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Tin nhắn</span>"><span class="text">Tin nhắn</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="5"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Ghim</span>"><span class="text">Ghim</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item-filter"><select class="selectpicker" data-width="fit" id="filter-calllog" style="display: none;"><option value=""> Cuộc gọi</option><optgroup label="Gọi đi"><option value="outgoing">Tất cả gọi đi</option><option value="outgoing_connected">Đã kết nối</option><option value="outgoing_disconnected">Không kết nối</option></optgroup><optgroup label="Gọi đến"><option value="incoming">Tất cả gọi đến</option><option value="incoming_connected">Đã kết nối</option><option value="incoming_disconnected">Không kết nối</option></optgroup></select>
                      <div class="btn-group bootstrap-select fit-width"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="filter-calllog" title=" Cuộc gọi"><span class="filter-option pull-left"> Cuộc gọi</span>&nbsp;<span class="caret"></span></button>
                          <div class="dropdown-menu open">
                              <ul class="dropdown-menu inner selectpicker" role="menu">
                                  <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;> Cuộc gọi</span>"><span class="text"> Cuộc gọi</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li class="divider" data-original-index="null"></li>
                                  <li class="dropdown-header" data-original-index="null"><span class="text">Gọi đi</span></li>
                                  <li data-original-index="1"><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Tất cả gọi đi</span>"><span class="text">Tất cả gọi đi</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="2"><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Đa kết nối</span>"><span class="text">Đã kết nối</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="3"><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Khong kết nối</span>"><span class="text">Không kết nối</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li class="divider" data-original-index="null"></li>
                                  <li class="dropdown-header" data-original-index="null"><span class="text">Gọi đến</span></li>
                                  <li data-original-index="4"><a tabindex="0" class="opt " data-optgroup="2" data-normalized-text="<span class=&quot;text&quot;>Tất cả gọi đến</span>"><span class="text">Tất cả gọi đến</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="5"><a tabindex="0" class="opt " data-optgroup="2" data-normalized-text="<span class=&quot;text&quot;>Đa kết nối</span>"><span class="text">Đã kết nối</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="6"><a tabindex="0" class="opt " data-optgroup="2" data-normalized-text="<span class=&quot;text&quot;>Khong kết nối</span>"><span class="text">Không kết nối</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item-filter" id="filter-status-test"><select class="selectpicker" data-width="fit" id="filter-status" style="display: none;"><optgroup label="Gọi đến"><option value="notReconnected">Chưa kết nối lại</option><option value="reconnected">Có kết nối lại</option><option value="">Tất cả</option></optgroup></select>
                      <div class="btn-group bootstrap-select fit-width"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="filter-status" title="Tất cả"><span class="filter-option pull-left">Tất cả</span>&nbsp;<span class="caret"></span></button>
                          <div class="dropdown-menu open">
                              <ul class="dropdown-menu inner selectpicker" role="menu">
                                  <li class="dropdown-header" data-original-index="null"><span class="text">Gọi đến</span></li>
                                  <li data-original-index="0"><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Chưa kết nối lại</span>"><span class="text">Chưa kết nối lại</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="1"><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Co kết nối lại</span>"><span class="text">Có kết nối lại</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="2" class="selected"><a tabindex="0" class="opt " data-optgroup="1" data-normalized-text="<span class=&quot;text&quot;>Tất cả</span>"><span class="text">Tất cả</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item-filter"><select class="selectpicker" title="Nhãn" data-width="120px" id="filter-tags" multiple="" data-live-search="true" data-size="6" data-actions-box="true" style="display: none;"><option value="5d3269d00f3774208bdf3d19">Follow-up</option><option value="5d3283560f3774208bdf4a7a">Can't approach</option><option value="5d3283920f3774208bdf4a89">Complain</option><option value="5da81188c9a03c65e609959d">Closing call</option><option value="5e562f5c3722937730404d0c">Partnership</option><option value="5e8d827eb37ff10ccd1297c3">Asking information</option><option value="5ea69cb4b37ff10ccd14f487">Objection</option><option value="5ec889703b27543634a76163">Training call</option><option value="5f881474887d80511b6d6748">Hẹn gọi lại</option><option value="5f88147e887d80511b6d674c">Khách đang bận</option><option value="5f8814872ff52c510c485cd6">Hỏi sản phẩm</option><option value="5f8d28bc2ff52c510c488519">Không Nghe Máy</option><option value="5f9282a3887d80511b6dd251">KH Tiềm năng</option><option value="5f9282b25028137933bb0cf3">TC_Chốt Đơn</option><option value="5f963884887d80511b6dec50">Hẹn tư vấn trực tiếp</option><option value="5f9638882ff52c510c48df54">Toeic</option><option value="5f96388f5028137933bb3916">Giao tiếp</option><option value="5f9639685028137933bb3934">Du học</option><option value="5f963a675028137933bb3960">Hài Lòng</option></select>
                      <div class="btn-group bootstrap-select show-tick" style="width: 120px;"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="filter-tags" title="Nhãn"><span class="filter-option pull-left">Nhãn</span>&nbsp;<span class="caret"></span></button>
                          <div class="dropdown-menu open">
                              <div class="bs-searchbox"><input type="text" class="input-block-level form-control" autocomplete="off"></div>
                              <div class="bs-actionsbox">
                                  <div class="btn-group btn-block"><button class="actions-btn bs-select-all btn btn-sm btn-default">Select All</button><button class="actions-btn bs-deselect-all btn btn-sm btn-default">Deselect All</button></div>
                              </div>
                              <ul class="dropdown-menu inner selectpicker" role="menu">
                                  <li data-original-index="0"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Follow-up</span>"><span class="text">Follow-up</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Can't approach</span>"><span class="text">Can't approach</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Complain</span>"><span class="text">Complain</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="3"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Closing call</span>"><span class="text">Closing call</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="4"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Partnership</span>"><span class="text">Partnership</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="5"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Asking information</span>"><span class="text">Asking information</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="6"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Objection</span>"><span class="text">Objection</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="7"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Training call</span>"><span class="text">Training call</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="8"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Hẹn gọi lại</span>"><span class="text">Hẹn gọi lại</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="9"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Khach đang bận</span>"><span class="text">Khách đang bận</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="10"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Hỏi sản phẩm</span>"><span class="text">Hỏi sản phẩm</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="11"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Khong Nghe May</span>"><span class="text">Không Nghe Máy</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="12"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>KH Tiềm năng</span>"><span class="text">KH Tiềm năng</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="13"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>TC_Chốt Đơn</span>"><span class="text">TC_Chốt Đơn</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="14"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Hẹn tư vấn trực tiếp</span>"><span class="text">Hẹn tư vấn trực tiếp</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="15"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Toeic</span>"><span class="text">Toeic</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="16"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Giao tiếp</span>"><span class="text">Giao tiếp</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="17"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Du học</span>"><span class="text">Du học</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="18"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Hai Long</span>"><span class="text">Hài Lòng</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item-filter"><select class="selectpicker" id="filter-agent" data-width="fit" data-show-subtext="true" data-live-search="true" style="display: none;"><option value="">Nhân viên</option><option value="5d7c9d535883f23d60d24d54">Bạn </option><option value="59ecdbf46f43775669959749">mailyhoang24 </option><option value="5d4d175e9d6b2b2b47a07e85">ly.hoang </option><option value="5d7c9c347c85d62e6ebc80d9">jimi </option><option value="5d7c9ccd7c85d62e6ebc80da">noah (Vô hiệu hoá)</option><option value="5d9a14be00be1b26b579c739">system.gcalls </option><option value="5daea61e33cf3655b2704eb7">gcalls.test1 </option><option value="5daea7aa33cf3655b2704eb8">gcalls.test2 </option><option value="5ea6519669604772b10c42df">bang.nguyen </option><option value="5f85652d56f05e68b65b9115">giang.pham </option></select>
                      <div class="btn-group bootstrap-select fit-width"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="filter-agent" title="Nhân viên"><span class="filter-option pull-left">Nhân viên</span>&nbsp;<span class="caret"></span></button>
                          <div class="dropdown-menu open">
                              <div class="bs-searchbox"><input type="text" class="input-block-level form-control" autocomplete="off"></div>
                              <ul class="dropdown-menu inner selectpicker" role="menu">
                                  <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Nhan vien</span>"><span class="text">Nhân viên</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Bạn </span>"><span class="text">Bạn </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>mailyhoang24 </span>"><span class="text">mailyhoang24 </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="3"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>ly.hoang </span>"><span class="text">ly.hoang </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="4"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>jimi </span>"><span class="text">jimi </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="5"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>noah (Vo hiệu hoa)</span>"><span class="text">noah (Vô hiệu hoá)</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="6"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>system.gcalls </span>"><span class="text">system.gcalls </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="7"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>gcalls.test1 </span>"><span class="text">gcalls.test1 </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="8"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>gcalls.test2 </span>"><span class="text">gcalls.test2 </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="9"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>bang.nguyen </span>"><span class="text">bang.nguyen </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                  <li data-original-index="10"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>giang.pham </span>"><span class="text">giang.pham </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item-filter"><button id="button-filter-date" class="btn btn-primary btn-primary-filter waves-effect waves-light hides"><i class="hidden" style="margin-right: 5px;"></i><!-- react-text: 598 -->Lọc<!-- /react-text --></button></div>
              </div>
              <div class="timeline">
                  <div class="dateline">
                      <hr class="dateline-hr">
                      <div class="dateline-title">Hôm nay</div>
                  </div>
                  <div class="timeline-item">
                      <div class="timeline-icon-misscall "></div>
                      <div class="timeline-content-right">
                          <div class="timeline-content"><button class="button-activity edit-note"><i class="fa fa-pencil"></i></button><button class="button-activity save-note" style="display: none;"><i class="fa fa-save"></i></button><button class="button-activity pin-activity"><i class="fa fa-thumb-tack"></i></button>
                              <div class="activity-info">
                                  <div class="activity-item-content">
                                      <div class="activity-item-img">
                                          <h5 class="avatar">l</h5>
                                      </div>
                                      <div class="activity-item-text">
                                          <div class="activity-item-info">
                                              <p class="activity-item-author"><b><!-- react-text: 1513 -->ly.hoang<!-- /react-text --><!-- react-text: 1514 --> <!-- /react-text --><!-- react-text: 1515 --><!-- /react-text --></b>
                                                  <!-- react-text: 1516 -->đã nhận cuộc gọi từ
                                                  <!-- /react-text --><b class="getcontact"><!-- react-text: 1518 --> <!-- /react-text --><!-- react-text: 1519 -->02871017868<!-- /react-text --></b></p>
                                              <p class="activity-item-time">Thứ 2 ngày 26/10/2020 vào lúc 09:55</p>
                                          </div>
                                      </div>
                                      <div class="list-inline task-dates">
                                          <div class="activity-call borderRight">
                                              <h6>Loại</h6>
                                              <h4>Gọi đến</h4>
                                          </div>
                                          <div class="activity-call borderRight">
                                              <h6>
                                                  <!-- react-text: 1527 -->Trạng thái
                                                  <!-- /react-text -->
                                                  <!-- react-text: 1528 -->
                                                  <!-- /react-text --><i class="fa fa-info-circle hint-status" aria-hidden="true" title="Cuộc gọi đến không được nhân viên trả lời trên ứng dụng"></i></h6>
                                              <h4>
                                                  <!-- react-text: 1531 -->Không trả lời
                                                  <!-- /react-text -->
                                                  <!-- react-text: 1532 -->
                                                  <!-- /react-text -->
                                                  <!-- react-text: 1533 -->
                                                  <!-- /react-text -->
                                              </h4>
                                          </div>
                                          <div class="activity-call">
                                              <h6>Ngày giờ</h6>
                                              <h4>26/10/2020 - 09:55</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <p class="activity-content"></p>
                              <ul class="ul-tags-timeline"><i class="fa fa-tags" aria-hidden="true"></i><i class="fa fa-plus new-tag" aria-hidden="true" data-contact="5f963a75887d80511b6dec85" data-id="5f963a8854f7a4794eb0e6af"></i></ul>
                          </div>
                      </div>
                      <div class="collapse" id="activity-5f963a8854f7a4794eb0e6af"></div>
                  </div>
              </div>
              <div class="timeline">
                  <div class="dateline">
                      <hr class="dateline-hr">
                      <div class="dateline-title">Thứ 5 ngày 22/10/2020</div>
                  </div>
                  <div class="timeline-item">
                      <div class="timeline-icon-misscall "></div>
                      <div class="timeline-content-right">
                          <div class="timeline-content"><button class="button-activity edit-note"><i class="fa fa-pencil"></i></button><button class="button-activity save-note" style="display: none;"><i class="fa fa-save"></i></button><button class="button-activity pin-activity"><i class="fa fa-thumb-tack"></i></button>
                              <div class="activity-info">
                                  <div class="activity-item-content">
                                      <div class="activity-item-img">
                                          <h5 class="avatar">b</h5>
                                      </div>
                                      <div class="activity-item-text">
                                          <div class="activity-item-info">
                                              <p class="activity-item-author"><b><!-- react-text: 1564 -->bang.nguyen<!-- /react-text --><!-- react-text: 1565 --> <!-- /react-text --><!-- react-text: 1566 --><!-- /react-text --></b>
                                                  <!-- react-text: 1567 -->đã nhận cuộc gọi từ
                                                  <!-- /react-text --><b class="getcontact"><!-- react-text: 1569 --> <!-- /react-text --><!-- react-text: 1570 -->Anh Hoàng<!-- /react-text --></b></p>
                                              <p class="activity-item-time">Thứ 5 ngày 22/10/2020 vào lúc 17:36</p>
                                          </div>
                                      </div>
                                      <div class="list-inline task-dates">
                                          <div class="activity-call borderRight">
                                              <h6>Loại</h6>
                                              <h4>Gọi đến</h4>
                                          </div>
                                          <div class="activity-call borderRight">
                                              <h6>
                                                  <!-- react-text: 1578 -->Trạng thái
                                                  <!-- /react-text -->
                                                  <!-- react-text: 1579 -->
                                                  <!-- /react-text --><i class="fa fa-info-circle hint-status" aria-hidden="true" title="Cuộc gọi đến không được nhân viên trả lời trên ứng dụng"></i></h6>
                                              <h4>
                                                  <!-- react-text: 1582 -->Không trả lời
                                                  <!-- /react-text -->
                                                  <!-- react-text: 1583 -->
                                                  <!-- /react-text -->
                                                  <!-- react-text: 1584 -->
                                                  <!-- /react-text -->
                                              </h4>
                                          </div>
                                          <div class="activity-call">
                                              <h6>Ngày giờ</h6>
                                              <h4>22/10/2020 - 17:36</h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <p class="activity-content"></p>
                              <ul class="ul-tags-timeline"><i class="fa fa-tags" aria-hidden="true"></i><i class="fa fa-plus new-tag" aria-hidden="true" data-contact="5de087c98b63e92ec047ac8b" data-id="5f9160a4887d80511b6dc3f1"></i></ul>
                          </div>
                      </div>
                      <div class="collapse" id="activity-5f9160a4887d80511b6dc3f1"></div>
                  </div>
              </div>


              <div class="timeline">
                  <div class="timeline-item">
                      <div class="timeline-icon-callin "></div>
                      <div class="timeline-content-right">
                          <div class="timeline-content"><button class="button-activity edit-note"><i class="fa fa-pencil"></i></button><button class="button-activity save-note" style="display: none;"><i class="fa fa-save"></i></button><button class="button-activity pin-activity"><i class="fa fa-thumb-tack"></i></button>
                              <div class="activity-info">
                                  <div class="activity-item-content">
                                      <div class="activity-item-img">
                                          <h5 class="avatar">b</h5>
                                      </div>
                                      <div class="activity-item-text">
                                          <div class="activity-item-info">
                                              <p class="activity-item-author"><b><!-- react-text: 1708 -->bang.nguyen<!-- /react-text --><!-- react-text: 1709 --> <!-- /react-text --><!-- react-text: 1710 --><!-- /react-text --></b>
                                                  <!-- react-text: 1711 -->đã nhận cuộc gọi từ
                                                  <!-- /react-text --><b class="getcontact"><!-- react-text: 1713 --> <!-- /react-text --><!-- react-text: 1714 -->Anh Hoàng<!-- /react-text --></b></p>
                                              <p class="activity-item-time">Thứ 5 ngày 22/10/2020 vào lúc 17:12</p>
                                          </div>
                                      </div>
                                      <div class="list-inline task-dates">
                                          <div class="activity-call borderRight">
                                              <h6>Loại</h6>
                                              <h4>Gọi đến</h4>
                                          </div>
                                          <div class="activity-call borderRight">
                                              <h6>
                                                  <!-- react-text: 1722 -->Trạng thái
                                                  <!-- /react-text -->
                                                  <!-- react-text: 1723 -->
                                                  <!-- /react-text --><i class="fa fa-info-circle hint-status" aria-hidden="true" title="Cuộc gọi đến được nhân viên bắt máy trên ứng dụng"></i></h6>
                                              <h4>Đã kết nối</h4>
                                          </div>
                                          <div class="activity-call">
                                              <h6>Thời gian</h6>
                                              <h4>00:02</h4>
                                          </div>
                                      </div>
                                      <div class="m-t-10 load-record"><audio class="react-audio-player " controls="" preload="auto" src="" title=""><p><!-- react-text: 1732 -->Your browser does not support the <!-- /react-text --><code>audio</code><!-- react-text: 1734 --> element.<!-- /react-text --></p></audio>
                                          <div class="item-load-record" id="item-load-record-5f915b0a54f7a4794eb0af12" data-contact="5de087c98b63e92ec047ac8b"><i class="fa fa-headphones" aria-hidden="true"></i>
                                              <p class="hidden tips">Vui lòng chờ, có thể mất ít phút.</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <p class="activity-content"></p>
                              <ul class="ul-tags-timeline"><i class="fa fa-tags" aria-hidden="true"></i><i class="fa fa-plus new-tag" aria-hidden="true" data-contact="5de087c98b63e92ec047ac8b" data-id="5f915b0a54f7a4794eb0af12"></i></ul>
                          </div>
                      </div>
                      <div class="collapse" id="activity-5f915b0a54f7a4794eb0af12"></div>
                  </div>
              </div>

              <div class="timeline">
                  <div class="timeline-item">
                      <div class="timeline-icon-callout"></div>
                      <div class="timeline-content-right">
                          <div class="timeline-content"><button class="button-activity edit-note"><i class="fa fa-pencil"></i></button><button class="button-activity save-note" style="display: none;"><i class="fa fa-save"></i></button><button class="button-activity pin-activity"><i class="fa fa-thumb-tack"></i></button>
                              <div class="activity-info">
                                  <div class="activity-item-content">
                                      <div class="activity-item-img">
                                          <h5 class="avatar">l</h5>
                                      </div>
                                      <div class="activity-item-text">
                                          <div class="activity-item-info">
                                              <p class="activity-item-author"><b>ly.hoang</b>
                                                  <!-- react-text: 1812 -->đã thực hiện cuộc gọi cho
                                                  <!-- /react-text --><b class="getcontact"><!-- react-text: 1814 --> <!-- /react-text --><!-- react-text: 1815 -->Emily Smith<!-- /react-text --></b></p>
                                              <p class="activity-item-time">Thứ 5 ngày 22/10/2020 vào lúc 17:01</p>
                                          </div>
                                      </div>
                                      <div class="list-inline task-dates">
                                          <div class="activity-call borderRight">
                                              <h6>Loại</h6>
                                              <h4>Gọi đi</h4>
                                          </div>
                                          <div class="activity-call borderRight">
                                              <h6>
                                                  <!-- react-text: 1823 -->Trạng thái
                                                  <!-- /react-text -->
                                                  <!-- react-text: 1824 -->
                                                  <!-- /react-text --><i class="fa fa-info-circle hint-status" aria-hidden="true" title="Nhân viên gọi đi và được kết nối (hoặc đối phương ở chế độ thư thoại)"></i></h6>
                                              <h4>Đã kết nối</h4>
                                          </div>
                                          <div class="activity-call">
                                              <h6>Thời gian</h6>
                                              <h4>00:03</h4>
                                          </div>
                                      </div>
                                      <div class="play-record"><audio class="react-audio-player m-t-10" controls="" preload="auto" src="https://record-storage.sgp1.digitaloceanspaces.com/record/2-gcalls.gcalls.vn/5f91cde50601ac6858485d9a.mp3" title="https://record-storage.sgp1.digitaloceanspaces.com/record/2-gcalls.gcalls.vn/5f91cde50601ac6858485d9a.mp3"><p><!-- react-text: 1833 -->Your browser does not support the <!-- /react-text --><code>audio</code><!-- react-text: 1835 --> element.<!-- /react-text --></p></audio>
                                          <i class="fa fa-link" title="copy link"></i>
                                      </div>
                                  </div>
                              </div>
                              <p class="activity-content"></p>
                              <ul class="ul-tags-timeline"><i class="fa fa-tags" aria-hidden="true"></i><i class="fa fa-plus new-tag" aria-hidden="true" data-contact="5f3f760d2dc45573ffde5c34" data-id="5f915876887d80511b6dc304"></i></ul>
                          </div>
                      </div>
                  </div>
              </div>



              <div class="timeline">
                  <div class="timeline-item">
                      <div class="timeline-icon-callout"></div>
                      <div class="timeline-content-right">
                          <div class="timeline-content"><button class="button-activity edit-note"><i class="fa fa-pencil"></i></button><button class="button-activity save-note" style="display: none;"><i class="fa fa-save"></i></button><button class="button-activity pin-activity"><i class="fa fa-thumb-tack"></i></button>
                              <div class="activity-info">
                                  <div class="activity-item-content">
                                      <div class="activity-item-img">
                                          <h5 class="avatar">l</h5>
                                      </div>
                                      <div class="activity-item-text">
                                          <div class="activity-item-info">
                                              <p class="activity-item-author"><b>ly.hoang</b>
                                                  <!-- react-text: 1986 -->đã thực hiện cuộc gọi cho
                                                  <!-- /react-text --><b class="getcontact"><!-- react-text: 1988 --> <!-- /react-text --><!-- react-text: 1989 -->Mr Tài Công ty Phương Trang<!-- /react-text --></b></p>
                                              <p class="activity-item-time">Thứ 5 ngày 22/10/2020 vào lúc 16:42</p>
                                          </div>
                                      </div>
                                      <div class="list-inline task-dates">
                                          <div class="activity-call borderRight">
                                              <h6>Loại</h6>
                                              <h4>Gọi đi</h4>
                                          </div>
                                          <div class="activity-call borderRight">
                                              <h6>
                                                  <!-- react-text: 1997 -->Trạng thái
                                                  <!-- /react-text -->
                                                  <!-- react-text: 1998 -->
                                                  <!-- /react-text --><i class="fa fa-info-circle hint-status" aria-hidden="true" title="Nhân viên gọi đi và đối phương từ chối không nghe hoặc đang trong một cuộc thoại khác"></i></h6>
                                              <h4>Máy bận</h4>
                                          </div>
                                          <div class="activity-call">
                                              <h6>Thời gian</h6>
                                              <h4>00:00</h4>
                                          </div>
                                      </div>
                                      <!-- react-text: 2004 -->
                                      <!-- /react-text -->
                                  </div>
                              </div>
                              <p class="activity-content"></p>
                              <ul class="ul-tags-timeline"><i class="fa fa-tags" aria-hidden="true"></i>
                                  <li class="tag-custom" value="5f88147e887d80511b6d674c" data-id="5f9154085028137933bafba3" data-contact="5f9154075028137933bafba2">
                                      <!-- react-text: 2009 -->Khách đang bận
                                      <!-- /react-text -->
                                      <!-- react-text: 2010 -->&nbsp;
                                      <!-- /react-text --><i class="fa fa-times"></i></li><i class="fa fa-plus new-tag" aria-hidden="true" data-contact="5f9154075028137933bafba2" data-id="5f9154085028137933bafba3"></i></ul>
                          </div>
                      </div>
                  </div>
              </div>





















          </div>
          <div class=""></div>
      </div>
      <div class="modal fade" id="modal-contact-field" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header"><button type="button" class="close" data-dismiss="modal">×</button>
                      <h4 class="modal-title">Trường danh bạ</h4>
                  </div>
                  <div class="modal-body">
                      <div class="table-responsive"><label style="display: block; font-weight: 700; color: rgb(103, 58, 183);">Danh sách trường:</label>
                          <p>Kéo các trường để thay đổi thứ tự. 5 trường đầu tiên sẽ được hiển thị trong danh bạ</p>
                          <table class="table" id="table-contact-field" style="margin-bottom: 0px;">
                              <thead>
                                  <tr>
                                      <th>Trường</th>
                                      <th width="50px"></th>
                                  </tr>
                              </thead>
                              <tbody class="ui-sortable" style="">
                                  <tr id="01">
                                      <td>First name</td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr id="02">
                                      <td>Last name</td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr id="04">
                                      <td>Email</td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr id="03">
                                      <td>Số điện thoại</td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr id="05">
                                      <td>Giới tính</td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr id="5ddf7605fb8f823d1502c863">
                                      <td>Contact No</td>
                                      <td><i class="fa fa-pencil"></i></td>
                                      <td><i class="fa fa-trash"></i></td>
                                  </tr>
                                  <tr id="5e16d6cb1372022fb5a84e18">
                                      <td>Enquiry Type</td>
                                      <td><i class="fa fa-pencil"></i></td>
                                      <td><i class="fa fa-trash"></i></td>
                                  </tr>
                                  <tr id="5ef96edaa3bb764cbc088d2a">
                                      <td>Policy No</td>
                                      <td><i class="fa fa-pencil"></i></td>
                                      <td><i class="fa fa-trash"></i></td>
                                  </tr>
                                  <tr id="5f2d00126df9f9758a0ad6e9">
                                      <td>Preferred Contact Method</td>
                                      <td><i class="fa fa-pencil"></i></td>
                                      <td><i class="fa fa-trash"></i></td>
                                  </tr>
                                  <tr id="5f2d0025ecf5d475a586395d">
                                      <td>Case Status</td>
                                      <td><i class="fa fa-pencil"></i></td>
                                      <td><i class="fa fa-trash"></i></td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="text-right div-btn"></div>
                      </div>
                      <div class="form-update-field">
                          <hr style="border-top-width: 3px;"><label style="display: block; font-weight: 700; color: rgb(103, 58, 183);">Thêm trường mới: </label><input id="input-field" class="form-control" placeholder="field name..." style="margin-bottom: 10px;">
                          <div class="text-right div-btn"><button class="btn btn-primary btn-add"><i class="hidden" style="margin-right: 5px;"></i><!-- react-text: 628 --> <!-- /react-text --><span>Thêm</span></button><button class="btn btn-default btn-cancel hidden"
                                  style="margin-left: 10px;">Hủy</button></div>
                      </div>
                  </div>
                  <div class="modal-footer"><button class="btn btn-default" data-dismiss="modal">OK</button></div>
              </div>
          </div>
      </div>
  </div>