<div class="sidebar-right">
    <div class="history">
        <div class="history-right">
            <div class="history_call history_vi">
                <div class="choice-calllog">
                    <ul class="nav nav-tabs">
                        <li class="active"><a class="waves-effect waves-light" href="#history" data-toggle="tab" aria-expanded="true">Cuộc gọi</a></li>
                        <li class=""><a class="waves-effect waves-light" href="#listagent" data-toggle="tab" aria-expanded="false">Nhân viên</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content history_select">
                <div class="tab-pane fade active in" id="history">
                    <div>
                        <div class="option-calllog m-l-20"><select class="selectpicker" data-width="auto" id="choiceCalllog" style="display: none;">
                          <option value="all">Tất cả</option>
                          <option value="incoming">Gọi đến</option>
                          <option value="outgoing">Gọi đi</option>
                          <option value="missed">Gọi nhỡ</option></select>
                        </div>
                        <div class="list-calllog ps ps--active-y">
                            <div class="calllog-item">
                                <div>
                                    <div class="calllog-info" title="0932656593">
                                        <div title="0932656593">
                                            <div class="calllog-item-img"><img src="https://app.gcalls.co/assets/img/missed.png" class="icon-status"></div>
                                            <div class="calllog-item-content">
                                                <p class="calllog-item-name">0932656593 </p>
                                                <p class="calllog-item-phone">0932656593</p>
                                            </div>
                                            <!-- react-text: 1186 -->
                                            <!-- /react-text -->
                                            <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="show-img-call"></div>
                                            <div class="calllog-time">
                                                <p class="calllog-date">
                                                    <!-- react-text: 814 -->21/10
                                                    <!-- /react-text --><br>
                                                    <!-- react-text: 816 -->12:00
                                                    <!-- /react-text -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="calllog-info" title="02836220678">
                                        <div title="02836220678">
                                            <div class="calllog-item-img"><img src="https://app.gcalls.co/assets/img/incoming.png" class="icon-status"></div>
                                            <div class="calllog-item-content">
                                                <p class="calllog-item-name">02836220678 </p>
                                                <p class="calllog-item-phone">02836220678</p>
                                            </div>
                                            <!-- react-text: 1187 -->
                                            <!-- /react-text -->
                                            <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="show-img-call"></div>
                                            <div class="calllog-time">
                                                <p class="calllog-date">
                                                    <!-- react-text: 830 -->21/10
                                                    <!-- /react-text --><br>
                                                    <!-- react-text: 832 -->11:50
                                                    <!-- /react-text -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="calllog-info" title="Chang">
                                        <div title="Chang">
                                            <div class="calllog-item-img"><img src="https://app.gcalls.co/assets/img/outgoing.png" class="icon-status"></div>
                                            <div class="calllog-item-content">
                                                <p class="calllog-item-name">Chang </p>
                                                <p class="calllog-item-phone">0833261579</p>
                                            </div>
                                            <!-- react-text: 1191 -->
                                            <!-- /react-text -->
                                            <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="show-img-call"></div>
                                            <div class="calllog-time">
                                                <p class="calllog-date">
                                                    <!-- react-text: 878 -->17/09
                                                    <!-- /react-text --><br>
                                                    <!-- react-text: 880 -->11:56
                                                    <!-- /react-text -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden">
                                        <div class="loadmore">
                                            <div class="lds-ellipsis">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__rail-y" style="top: 0px; right: 0px; height: 907px;">
                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 476px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="listagent">
                    <div>
                        <div class="search-agent"><input type="text" placeholder="Tìm kiếm nhân viên" class="form-control" id="searchAgent" name="searchAgent"></div>
                        <div class="list-agent ps">
                            <div class="calllog-item">
                                <div>
                                    <div class="calllog-info ">
                                        <div class="calllog-item-img">
                                            <div class="circle circle-on"></div>
                                        </div>
                                        <div class="calllog-item-content" title="mailyhoang24">
                                            <p class="calllog-item-name">
                                                <!-- react-text: 694 -->mailyhoang24
                                                <!-- /react-text -->
                                                <!-- react-text: 695 -->
                                                <!-- /react-text --><span style="color: rgb(103, 58, 183); font-size: 11px;">(Admin)</span>
                                                <!-- react-text: 697 -->
                                                <!-- /react-text -->
                                            </p>
                                            <p class="calllog-item-phone">Chưa có số máy nhánh</p>
                                        </div>
                                        <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="hidden"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="calllog-info ">
                                        <div class="calllog-item-img">
                                            <div class="circle circle-on"></div>
                                        </div>
                                        <div class="calllog-item-content" title="ly.hoang">
                                            <p class="calllog-item-name">
                                                <!-- react-text: 707 -->ly.hoang
                                                <!-- /react-text -->
                                                <!-- react-text: 708 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 709 -->
                                                <!-- /react-text -->
                                            </p>
                                            <p class="calllog-item-phone">1015</p>
                                        </div>
                                        <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="show-img-call-agent"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="calllog-info ">
                                        <div class="calllog-item-img">
                                            <div class="circle circle-on"></div>
                                        </div>
                                        <div class="calllog-item-content" title="jimi">
                                            <p class="calllog-item-name">
                                                <!-- react-text: 719 -->jimi
                                                <!-- /react-text -->
                                                <!-- react-text: 720 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 721 -->
                                                <!-- /react-text -->
                                            </p>
                                            <p class="calllog-item-phone">Chưa có số máy nhánh</p>
                                        </div>
                                        <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="hidden"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="calllog-info ">
                                        <div class="calllog-item-img">
                                            <div class="circle circle-on"></div>
                                        </div>
                                        <div class="calllog-item-content" title="noah">
                                            <p class="calllog-item-name">
                                                <!-- react-text: 731 -->noah
                                                <!-- /react-text -->
                                                <!-- react-text: 732 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 733 -->
                                                <!-- /react-text --><span style="color: rgb(103, 58, 183); font-size: 11px;"><!-- react-text: 735 -->(<!-- /react-text --><!-- react-text: 736 -->Vô hiệu hoá<!-- /react-text --><!-- react-text: 737 -->)<!-- /react-text --></span></p>
                                            <p class="calllog-item-phone">Chưa có số máy nhánh</p>
                                        </div>
                                        <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="hidden"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="calllog-info hidden">
                                        <div class="calllog-item-img">
                                            <div class="circle circle-on"></div>
                                        </div>
                                        <div class="calllog-item-content" title="system.gcalls">
                                            <p class="calllog-item-name">
                                                <!-- react-text: 747 -->system.gcalls
                                                <!-- /react-text -->
                                                <!-- react-text: 748 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 749 -->
                                                <!-- /react-text -->
                                            </p>
                                            <p class="calllog-item-phone">Chưa có số máy nhánh</p>
                                        </div>
                                        <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="hidden"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="calllog-info ">
                                        <div class="calllog-item-img">
                                            <div class="circle circle-on"></div>
                                        </div>
                                        <div class="calllog-item-content" title="gcalls.test1">
                                            <p class="calllog-item-name">
                                                <!-- react-text: 759 -->gcalls.test1
                                                <!-- /react-text -->
                                                <!-- react-text: 760 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 761 -->
                                                <!-- /react-text -->
                                            </p>
                                            <p class="calllog-item-phone">1008</p>
                                        </div>
                                        <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="show-img-call-agent"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="calllog-info ">
                                        <div class="calllog-item-img">
                                            <div class="circle circle-off"></div>
                                        </div>
                                        <div class="calllog-item-content" title="gcalls.test2">
                                            <p class="calllog-item-name">
                                                <!-- react-text: 771 -->gcalls.test2
                                                <!-- /react-text -->
                                                <!-- react-text: 772 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 773 -->
                                                <!-- /react-text -->
                                            </p>
                                            <p class="calllog-item-phone">Chưa có số máy nhánh</p>
                                        </div>
                                        <div class="hidden"><img src="https://app.gcalls.co/assets/img/button-call.png" class="hidden"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="calllog-info ">
                                        <div class="calllog-item-img">
                                            <div class="circle circle-on"></div>
                                        </div>
                                        <div class="calllog-item-content" title="bang.nguyen">
                                            <p class="calllog-item-name">
                                                <!-- react-text: 783 -->bang.nguyen
                                                <!-- /react-text -->
                                                <!-- react-text: 784 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 785 -->
                                                <!-- /react-text -->
                                            </p>
                                            <p class="calllog-item-phone">Chưa có số máy nhánh</p>
                                        </div>
                                        <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="hidden"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="calllog-info ">
                                        <div class="calllog-item-img">
                                            <div class="circle circle-on"></div>
                                        </div>
                                        <div class="calllog-item-content" title="giang.pham">
                                            <p class="calllog-item-name">
                                                <!-- react-text: 795 -->giang.pham
                                                <!-- /react-text -->
                                                <!-- react-text: 796 -->
                                                <!-- /react-text -->
                                                <!-- react-text: 797 -->
                                                <!-- /react-text -->
                                            </p>
                                            <p class="calllog-item-phone">1005</p>
                                        </div>
                                        <div class="calllog-item-img-call"><img src="https://app.gcalls.co/assets/img/button-call.png" class="show-img-call-agent"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cover-bar"></div>
                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>