<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href=""><img class="logo-default" alt="logo" src="/assets/img/logo.png"></a>
        </div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user divided"><a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href=""><span class="" style="margin-right: 5px;">Mẫu</span><i class="fa fa-angle-down"></i></a>
                    <ul class="logout dropdown-menu dropdown-menu-default">
                        <li><a>Nhãn cuộc gọi</a></li>
                        <li><a>SMS</a></li>
                    </ul>
                </li>
                <li class="dropdown dropdown-user divided">
                    <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="">
                        <div class="inbox-item-img" title="">
                            <h5 class="avatar">a</h5>
                        </div><span class="username username-hide-on-mobile">ann</span><i class="fa fa-angle-down"></i></a>
                    <ul class="logout dropdown-menu dropdown-menu-default">
                        <li><a>Trang quản lý</a></li>
                        <li><a>Đăng xuất</a></li>
                    </ul>
                </li>
                <li class="select-language">
                    <div class="btn-group">
                        <div data-toggle="dropdown" aria-expanded="false"><img id="imgBtnSel" src="/assets/img/vi.jpg" alt="..." class="img-thumbnail icon-medium"></div>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a id="btnVie" class="language">
                                    <!-- react-text: 38 -->
                                    <!-- /react-text --><img id="imgBtnVie" src="/assets/img/vi.jpg" alt="..." class="img-thumbnail icon-small">
                                    <!-- react-text: 40 -->
                                    <!-- /react-text --><span id="lanBtnlVie">Tiếng Việt</span></a>
                            </li>
                            <li>
                                <a id="btnEng" class="language">
                                    <!-- react-text: 44 -->
                                    <!-- /react-text --><img id="imgBtnEng" src="/assets/img/en.jpg" alt="..." class="img-thumbnail icon-small">
                                    <!-- react-text: 46 -->
                                    <!-- /react-text --><span id="lanBtnEng">English</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="config-user">
                    <div class="btn-group">
                        <div class="item-config-user" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></div>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    <!-- react-text: 55 -->
                                    <!-- /react-text --><input type="checkbox" id="button-config-user" value="on">
                                    <!-- react-text: 57 -->Hỏi trước khi tắt
                                    <!-- /react-text -->
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- react-text: 60 -->
                                    <!-- /react-text --><input type="checkbox" id="button-config-silent" value="on">
                                    <!-- react-text: 62 -->Chế độ im lặng
                                    <!-- /react-text -->
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>